.ks_style_6 {
  font-family: $font_poppins;
}
.ks_header .ks_style_6 {
  //padding: 10px 10px;
  background-color: $bg_theme_6;
  .ks_tagline {
    @extend %text-left;
    p {
      @include mb_0;
      .ks_company_name {
        @include ks_company_name;
        @extend %extra_strong_font;
      }
      .ks_company_tagline {
        @include ks_company_tagline;
        @extend %light_font;
      }
    }
  }
  .ks_total {
    h4 {
      color: $theme_color6;
      font-size: $ks_mid_font;
      @extend %strong_font;
    }
    p {
      color: $third_text_color;
    }
  }
  .ks_details {
    margin-bottom: 10px;
    p {
      @include mb_0;
    }
    .font_10 {
      @extend %regular_font;
    }
    .font_10 {
      @extend %light_font;
    }
  }
  .ks_invoice {
    h3 {
      color: $theme_color6;
      font-size: $ks_mid_font;
      @extend %semi_bold_font;
    }
    p {
      color: $font_text_clr_10;
      font-size: $very_low_font;
      @include mb_0;
      line-height: 18px;
    }
    ul {
      @include horizontal-list;
      font-size: $very_low_font;
      line-height: 18px;
      li {
        color: $font_text_clr_10;
        a {
          color: $font_text_clr_10;
          word-break: break-all;
        }
      }
    }
  }
  .ks_invoice_number {
    h3 {
      color: $theme_color6;
      font-size: $font_25;
      @extend %midium_font;
      @include company_heading;
    }
    h6 {
      @extend %theme_text_color;
      font-size: $font_18;
      @extend %regular_font;
    }
  }
}

.ks_style_6.ks_address {
  .custom-container {
    padding: 10px 10px;
  }
  .ks_invoice_number {
    h3 {
      color: $theme_color6;
      font-size: $font_25;
      @extend %midium_font;
      @include company_heading;
    }
    h6 {
      @extend %theme_text_color;
      font-size: $font_18;
      @extend %regular_font;
    }
  }
  .ks_invoice {
    h3 {
      color: $theme_color6;
      font-size: $ks_mid_font;
      @extend %semi_bold_font;
    }
    p {
      color: $font_text_clr_10;
      font-size: $very_low_font;
      @include mb_0;
      line-height: 18px;
    }
  }
  .ks_total {
    h4 {
      color: $theme_color6;
      font-size: $ks_mid_font;
      @extend %strong_font;
    }
    p {
      color: $third_text_color;
    }
  }
  .ks_details {
    margin-bottom: 10px;
    p {
      @include mb_0;
    }
    .font_9 {
      @extend %light_font;
    }
    .font_10 {
      @extend %midium_font;
    }
  }
  ul {
    @include vertical-list;
    font-size: $ks_extra_small_font;
    line-height: 20px;
    margin-top: 10px;
    li {
      a {
        color: $font_text_clr_10;
        word-break: break-all;
      }
    }
  }
  .ks_details {
    p {
      @include mb_0;
    }
  }
}

.ks_style_6.ks_table_section {
  .custom-container {
    padding: 10px 10px;
  }
  table {
    @extend %ks_table;
    thead {
      background-color: $theme_color6;
      th {
        font-size: $font_11;
        @extend %midium_font;
        padding: 12px 8px;
        color: $text_white;
      }
    }
    tbody {
      .ks_table_img {
        span {
          img {
            @include ks_table_img;
          }
          text-align: center;
        }
      }

      tr {
        border-bottom:1px solid #ccc;
        border-left:1px solid #ccc;
        border-right: 1px solid #ccc;
        td:last-child {
          border-right: none;
        }
        td {
          font-size: $very_low_font;
          @extend %pad_8;
          border-right:1px solid #ccc;
          p {
             @extend %table-description;
             @include mb_0;
          }
          strong {
            @extend %strong-text;
          }
        }
      }
    }
  }
}

.ks_style_6.ks_history_nd_total {
  .custom-container {
    padding: 10px 10px;
  }
  h6 {
    @include ks_heading;
  }
  .ks_total_table {
    @extend %ks_table;
    tbody {
      tr {
        td {
          @extend %border_0;
          @extend %text-right;
          @extend %pad_8;
        }
      }
      .ks_subtotal {
        td {
          @include total_font;
        }
      }
      .ks_text_rate {
        td {
          @include total_font;
          color: $theme_color6;
        }
      }
      .ks_grnad_total {
        background-color: $theme_color6;
        td {
          @extend %semi_bold_font;
          @include total_font;

          color: $text_white;
          font-size: $font_11;
        }
      }
    }
  }
  .ks_history_details {
    background: $bg_theme_4;
    padding: 4px 8px;
    @extend %border_rad_5;
    .round_shape {
      background: $theme_color6;
    }
    .ks_list_text {
      font-size: $font_7;
      color: $third_text_color;
    }
    p {
      @include mb_0;
      span {
        font-size: $ks_extra_small_font;
      }

      .round_shape {
        @extend %semi_bold_font;
      }
    }
  }
  .ks_amount_in_words {
    p {
      @include ks_amount_in_words;
      @include mb_0;
    }
  }
}

.ks_style_6.ks_payment_term_sign {
  .custom-container {
    padding: 10px 10px;
  }
  h6 {
    @include ks_heading;
    @extend %midium_font;
    color: $first_text_color;
  }
  p {
    font-size: $font_7;
    @include mb_0;
    color: $third_text_color;
  }
}

.ks_style_6.ks_footer {
  .custom-container {
    padding: 10px 10px;
  }
  ul {
    @include horizontal-list;
    @extend %text-center;
    li {
      a {
        color: $second_text_color;
        font-size: $very_low_font;
      }
    }
  }
  .ks_custom_footer {
    color: $second_text_color;
  }
  p {
    @extend %text-center;
    font-size: $very_low_font;
  }
}
